<a href="https://colab.research.google.com/github/NavjyotDataScientist/Python/blob/main/10_List_Statistics_Analyzer.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

goal (Student Mindset)

Analyze a list of numbers and calculate:

total

minimum

maximum

average

This is the first real step toward EDA (Exploratory Data Analysis).

In [3]:
numbers = [45, 67, 89, 23, 56, 78, 90, 34]

total = sum(numbers)
minimum = min(numbers)
maximum = max(numbers)
average = total / len(numbers)

print("Numbers:", numbers)
print("Total:", total)
print("Minimum:", minimum)
print("Maximum:", maximum)
print("Average:", round(average, 2))

Numbers: [45, 67, 89, 23, 56, 78, 90, 34]
Total: 482
Minimum: 23
Maximum: 90
Average: 60.25